{
    "template": "%%HTML%%",
    "name": "Sonos Controls + Album Art",
    "author": "Scootaash, changes by Janne Kalliola",
    "description": "V1.1 – Apr 2020 – A media controller with image art and playback buttons suitable for music using Sonos", 
    %%SETTINGS%%
}
