{
    "template": "%%HTML%%",
    "name": "MultiState / MultiItem display of a group of values in one widget",
    "author": "Michael Martens",
    "description": "V1 - Nov 2017 - Items of a group are shown, depending on config they are just displayed or can be changed.",
	%%SETTINGS%%
}
